@charset "UTF-8";
@font-face {
    font-family: 'Action Comics';
    src: url('Action\ Comics.ttf') format(truetype);
    font-style: normal;
    font-weight: normal;
}
body{
    background-image: linear-gradient(to bottom, #9DCCF6, #4EA4D9); 
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;  
    transition: background 0.4s ease-in;
}
#interface {
  width: 100%;
  margin: 0 auto; 
  max-width: 100%;
  min-height: 100%;
}
#cabecalho{
    border-radius: 10px 10px 0px 0px;
    background-color: rgb(255, 255, 255);
    min-width: 600px;
    max-width: 100%;
    padding: 0px;
    margin: 1px;
    margin-top: 0%;
}
#cabecalho h1{
  font-family: Action Comics, Helvetica, sans-serif;
  font-size: 4vw;
  color:#771d1d;
  text-align: center;
  text-shadow: 1px 1px 2px #8f6e5a(64, 58, 92, 0.849);
}
#cabecalho .menu {
  font-family: "Chivo Mono", monospace;
  display: flex;
  gap: 3%;
  background-color: #4EA4D9;
  padding: 1px;
  box-shadow: 1px 1px 10px 1px rgba(7, 7, 7, 0.692);
  width: 100%; 
  margin: 0 auto;
}
 .menu li {
  list-style: none;
  width: 50%; 
  margin: 0 auto;
}
#cabecalho .menu li a {
  width: 10%; 
  margin: 0 auto;
  font-size: 26px;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  padding: 10px;
  transition: 0.5s ease;
}
#cabecalho .menu:hover li a {
  color: #ffffff;
}
#cabecalho .menu:hover li a:not(:hover) {
  color: white;
  opacity: 0.3;
  filter: blur(1px);
}
nav > .menu ul {
  list-style: none;
  visibility: hidden;
  position: absolute;
  left: 0;
  top: 100%;
  z-index: 203;
  opacity: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
main{
    background-color: white;
    min-width: 600px;
    max-width: 100%;
    padding: 10px;
    margin: auto;
}
h1{
    color:#d34e4e;
}
input[type=radio] {
  display: none;
}
img{
  width: 80%;
  height: 70%;
  border-radius: 200px;
  object-fit: cover;
}
.card{
  position: relative;
  width: 60%;
  height: 100%;
  left: 0;
  right: 0;
  margin: auto;
  cursor: pointer;
  transition: transform 0.4s ease;
}
.container{
  width: 100%;
  height: 100%;
  max-width: 100%;
  min-height: 600px;
  display: flex;
  transform-style: preserve-3d;
  justify-content: center;
  flex-direction: row;/*
  flex-direction: column;*/
  align-items: center;
}
.conteudo{
  flex: 1;
  text-align: center;
  padding: 20px;
}
.cards {
  flex: 1;
  /*display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;*/
  text-align: center;
  overflow: hidden;
}
#item-1:checked ~ .cards #song-3,
#item-2:checked ~ .cards #song-1,
#item-3:checked ~ .cards #song-2{
  transform: translateX(40%)scale(0.8);
  opacity: 0.4;
  z-index: 0;
}
#item-1:checked ~ .cards #song-2,
#item-2:checked ~ .cards #song-3,
#item-3:checked ~ .cards #song-1{
  transform: translateX(-40%)scale(0.8);
  opacity: 0.4;
  z-index: 0;
}
#item-1:checked ~ .cards #song-1,
#item-2:checked ~ .cards #song-2,
#item-3:checked ~ .cards #song-3{
  transform: translateX(0)scale(1);
  opacity: 1;
  z-index: 1;
}
.conteudo-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
#corpo{
  flex: 1;
  max-width: 70%; 
  background-color: #c2e3ff;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  box-sizing: border-box; 
}
#corpo article{
  max-width: 90%;
  width: 100%;
}
#corpo h2{
  color: #a75454;
}
article img{
  max-width: 100%;
  height: auto;
}
#lateral {
  flex: 1;
  max-width: 33%;
  max-height: 50vh;
  padding: 0px 10px 10x 10px;
  margin: 10px;
  box-sizing: border-box;
  /*height: 320px;*/
  display: flex;
  flex-direction: column;
}
#lateral h2{
  margin-top: 0px;
  text-align: center;
  color: #a75454;
}
.item{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 80%;
  flex: 1;
  margin: 0px 5px 5px 5px;
  padding: 10px;
  background-color: #c2e3ff;
  border-radius: 10px;
  text-align: initial;
  max-width: 92%;
}
footer{
  clear: both;
  border-top: 1px solid #606060;
  background-color: rgb(11, 64, 95);
  border-radius: 0px 0px 10px 10px;
  padding: 1px;
  margin: 0px;
  min-width: 100%;
  width: 96vh;
}
footer p{
  color: white;
  text-align: center;
}
