@charset "UTF-8";
@font-face {
    font-family: 'Action Comics';
    src: url('Action\ Comics.ttf') format(truetype);
    font-style: normal;
    font-weight: normal;
}
body{
    height: 100%;
    background-image: linear-gradient(to bottom, #9DCCF6, #4EA4D9); 
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    min-width: 600;
    max-width: 1050px;
    padding: 10px;
    margin: auto;
    
}
main{
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(51, 46, 94);
    min-width: 600;
    max-width: 1050px;
    padding: 10px;
    margin: auto;
}
h1#principal{
    font-family: Action Comics, Helvetica, sans-serif;
    color:#921b1b;
    text-align: center;
    text-shadow: 1px 1px 2px #8f6e5a(64, 58, 92, 0.849);

}
h1{
    color:#d34e4e;
}
div {
    margin: 30px 30px 30px 30px; 
    background-color: #c9e8fcd5;
}
div a {
    text-decoration: none;
}
header ul {
  font-family: "Chivo Mono", monospace;
  display: flex;
  gap: 72px;
}
header ul li {
  list-style: none;
}
header ul li a {
  font-size: 26px;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  padding: 10px;
  transition: 0.5s ease;
}
hearder ul:hover li a {
  color: #30edf4;
}
header ul:hover li a:not(:hover) {
  color: white;
  opacity: 0.3;
  filter: blur(1px);
}